*{margin: 0;padding: 0;}
.container{
    position: relative;
}
.base_color{
    color:#4eecf5;
}
/* 导航栏 */
.nav1{
    background-color: rgba(0,0,0,.3) !important;
    position: fixed;
    right:1px;
    z-index:20;
    width:100%;
    padding-left: 70px;
}
.font1{
    font:800 4rem "黑体";
}
.ali{
    justify-content: flex-end !important
}
.navbar-collapse a{
    text-align: center !important
}
/* 轮播图  */
.down{
    margin-top:100px;
    height: 100px;

}
.down div{
    width:40px;
    height:40px;
    background:#fff url(../img/down.png) no-repeat 6px 10px;
    border-radius: 50%;
    margin:-200px auto 0px;

}
@keyframes dow{
    0%{transform:translateY(30px)}
    20%{transform:translateY(0px)}
    40%{transform:translateY(25px)}
    60%{transform:translateY(0px)}
    80%{transform:translateY(20px)}
    100%{transform:translateY(0px)}
}
header:hover .down>div{
    animation:dow 2s linear 3s infinite;
}
.dh1:hover .dh1>.float-left{
    border-color:red;
}
/*小轮播*/
section{
    margin-top:-200px
}
.zg{
    height:40.3%;
}
.xlb{
    width: 100%;
    height: 265px;
}
/*透视1*/
.ts1{
    width: 100%;
    height: 400px;
    margin-top:70px;
    overflow: hidden;
 }
.tst{
   background:rgba(0,0,0,.1) url(../img/5.jpg) no-repeat fixed;
    background-size: cover;
}
/*走马灯*/
.zmdf{
    height: 600px;
}
.bgd{
   background-color: #4eecf5;
    margin-top:9rem;
}
.zmd{
    width: 1222px;
    height: 400px;
    margin:0 auto;
}
.zmd>ul>li{
    width: 240px;
    height: 180px;

}
.zmd>ul>li>img:hover{
    transform:scale(1.4);
}
.zmd>ul>li>img{
    width: 100%;
    transition:all 1s;
}
.zmd>ul>div{
    width:5%;
}
/*透视2*/
.ts2{
    width: 100%;
    height: 400px;
    margin-top:70px;
    overflow: hidden;
 }
.tst2{
   background:rgba(0,0,0,.1) url(../img/2.jpg) no-repeat fixed;
    background-size: cover;
}